@media only screen and (min-width: 769px) {
    * {
        margin: 0;
    }

    header {
        height: 85vh;
        background-image: none;
        background-image: url(images/desktop/image-header.jpg);
        background-position-y:  bottom;
    }

    .txt-head {
        letter-spacing: 0.28em;
        margin: 0.8em 0;
    }

    [src="svg/icon-hamburger.svg"] {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30vw;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 16x;
        padding: 7px 12px;
        font-weight: 700;
    }

    nav a:hover {
        background-color: white;
        border-radius: 15px;
        color: black;
        font-size: 16x;
    }

    .sec-bloc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
    }

    .img {
        width: 50vw;
        height: 75%;
    }

    .bloc {
        width: 50vw;
    }

    .txt-info,
    .titr-h2 {
        text-align: start;
        width: 70%;
        font-size: 1em;
    }

    .titr-h2 {
        font-size: 2.15em;
    }

    #bloc-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    #graphic,
    #photography {
        width: 50vw;
    }

    graphic {
        background: url(images/desktop/image-graphic-design.jpg);
        background-size: cover;
    }
    
    #photography {
        background: url(images/desktop/image-photography.jpg);
        background-size: cover;
    }
    .graph-txt-info {
        width: 55%;
        margin-bottom: 3%;
        font-weight: 600;
    }

    .h2-client {
        letter-spacing: .7em;
    }

    .div-profile {
        width: 25vw;
    }

    .div-client {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        column-gap: 3%;
        min-height: 85vh;
    }

    .txt-info-pers {
        width: 27vw;
        margin: 15% 0;
    }

    .div-produit {
        display: flex;
    }

    .img-produit {
        width: 25vw;
        height: 30vw;
    }

    .icn {
        width: 20vw;
        margin: 15% 0;
    }

    footer h2 {
        margin: 3% 0;
    }

    ul {
        width: 40vw;
    }
}