* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --txt-white: white;
    --txt-black: black;
    --bcc-main: rgb(248, 253, 252);
    --bcc-foot: rgb(111, 204, 181);
}

header {
    min-height: 72vh;
    background: url(images/image-header.jpg), no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-color: var(--bcc-main);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2em 0;
}

h1 {
    color: var(--txt-white);
    font-size: 24px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 1000;
}

.txt-head {
    width: 90vw;
    color: var(--txt-white);
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.25em;
    margin-bottom: 0.2em;
}

main {
    display: flex;
    flex-direction: column;
}

.sec-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 100vw;
}

.bloc {
    height: 24em;
    background-color: var(--bcc-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
}

.titr-h2 {
    text-align: center;
    font-size: 2.15em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    letter-spacing: .17em;
}

.graph-titr-h2 {
    text-align: center;
    font-size: 2.05em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    letter-spacing: .1em;
}

.a-plus {
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1000;
    letter-spacing: .1em;
    box-shadow: 0 10px 5px pink;
}

.txt-info {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: rgb(73, 84, 99);
    line-height: 28px;
    opacity: 0.85;
}

.graph-txt-info {
    text-align: center;
    font-weight: 900;
    font-size: 15.6px;
    line-height: 28px;
    opacity: 0.85;
    width: 90vw;
    text-align: center;
    margin: 8% 0 16%;
}


#graphic {
    background: url(images/image-graphic-design.jpg);
    background-size: cover;
}

#photography {
    background: url(images/image-photography.jpg);
    background-size: cover;
}

.graph {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.sec-client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

.h2-client {
    opacity: 0.45;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .2em;
    padding: 9vh 0 5vh;
}

.img-profile {
    width: 80px;
    border-radius: 50%;
}

.txt-info-pers {
    text-align: center;
    width: 85vw;
    font-size: 17px;
    font-weight: 800;
    color: rgb(36, 35, 36);
    line-height: 28px;
    margin: 3vh 0;
    opacity: 0.72;
}

.prof {
    opacity: 0.4;
    font-weight: 700;
    margin-bottom: 10vh;
}

.name {
    font-weight: 1000;
    font-size: 20px;
    font-family: fantasy;
}

.div-produit {
    display: flex;
    flex-wrap: wrap;
}

.img-produit {
    width: 50vw;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(128, 252, 215);
    height: 21em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 90vw;
}

footer h2 {
    color: rgb(15, 121, 89);
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 14% 0;
    font-size: 2.5em;
}

.foot-menu {
    margin-bottom: 25%;
}

.foot-menu li a {
    text-decoration: none;
    color: rgb(24, 156, 117);
    font-size: 18px;
    font-weight: 700;
}

.foot-menu li a:hover {
    color: white;
    text-decoration: underline white;
}

.icn {
    width: 60vw;
}